@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee-item {
  margin-right: 2rem;
}

.bgImage {
  background-image: url("../assets/9495910.png");
  background-size: cover;
  background-position: center;
}

.my-image-gallery img {
  width: 400px;
  height: 400px;
}

.my-image-gallery.fullscreen-mode img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .my-image-gallery img {
    width: 200px;
    height: 200px;
  }
}
