@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;

  box-sizing: border-box;
}

.marquee-item {
  margin-right: 2rem;
}

.my-image-gallery img {
  width: 25rem;
  height: 25rem;
}

.my-image-gallery.fullscreen-mode img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

/* SVGS */

/* .hoverable-svg path {
  transition: fill 0.3s ease;
}

.hoverable-svg:hover {
  background-color: #584e6b;
}

.hoverable-svg:hover path {
  fill: white;
} */

/* SCROLL BAR */

/* width and height of the scrollbar */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #584e6b;
  border-radius: 3.75rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #584e6b;
}

@media (max-width: 600px) {
  .my-image-gallery img {
    width: 12.5rem;
    height: 12.5rem;
  }
}

.text-str {
  color: #000;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}
